@use "index" as *;

:host {
  display: block;
  width: 21px;
  height: 24px;

  @include mobile {
    width: 17.5px;
    height: 20px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

svg {
  fill: $color-neon-green;

  :host:not(.disabled) &:hover {
    fill: #fff;
  }
}
