$color-red: #f64a4a;
$color-orange: #fb7c58;
$color-yellow: #f8cd65;
$color-neon-green: #a4ffaf;
$color-near-white: #e6e5ea;
$color-gray: #817d92;
$color-dark-gray: #24232c;
$color-very-dark-gray: #18171f;
