@use "sass:color";
@use "index" as *;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark-gray;
  width: 100%;
  gap: 16px;
  min-height: 80px;
  padding: 20px 32px;

  @include mobile {
    gap: 12px;
    min-height: 64px;
    padding: 16px;
  }
}

.password {
  // Typography
  color: $color-near-white;
  @include password;
  line-break: anywhere;

  &.placeholder {
    color: color.change($color-near-white, $alpha: 0.25);
  }
}

.copy-notification {
  margin-left: auto;

  // Typography
  @include body;
  color: $color-neon-green;
  text-transform: uppercase;
}
